<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.marketTrio.dao.mybatis.mapper.MemberMapper">
	<cache />

	<select id="getMemberById"
		resultType="com.marketTrio.domain.Member">
		SELECT *
		FROM Member
		WHERE ID = #{id}
	</select>

	<select id="getSellerIdFromSH" resultType="java.lang.String">
		SELECT SELLERID
		FROM SECONDHAND
		WHERE SHPOSTID = #{postId}
	</select>
	
	<select id="getProfilePicture" resultType="java.lang.String">
		SELECT PROFILEPICTURE
		FROM MEMBER
		WHERE ID = #{id}
	</select>

	<select id="getMemberByIdAndPassword" resultType="Member">
		SELECT *
		FROM
		Member
		WHERE Member.ID = #{id}
		AND Member.PASSWORD = #{password}
	</select>

	<select id="isIdExist" resultType="boolean">
		SELECT CASE WHEN COUNT(1) > 0 THEN 1 ELSE 0 END
		FROM Member
		 WHERE Member.ID = #{id, jdbcType=VARCHAR}
	</select>

	<select id="getPassword" parameterType="string"
		resultType="string">
		SELECT password FROM Member WHERE id = #{id}
	</select>

	<select id="getNicknameById" resultType="java.lang.String">
		SELECT Member.NICKNAME
		FROM Member
		WHERE Member.ID = #{id}
	</select>

	<select id="getRateById" resultType="java.lang.Float">
		SELECT Member.RATING
		FROM
		Member
		WHERE Member.ID = #{id}
	</select>

	<update id="updateRateById" parameterType="java.util.Map">
		UPDATE Member SET
		RATING = #{newRate}
		WHERE ID = #{id}
	</update>

	<select id="getNicknameList" resultType="java.lang.String">
		SELECT NICKNAME AS VALUE
		FROM MEMBER
	</select>

	<insert id="insertMember" parameterType="Member">
		INSERT INTO Member
		(ID,
		PASSWORD, NICKNAME, PROFILEPICTURE, RATING, EMAIL, NAME, PHONE)
		VALUES
		(#{id}, #{password}, #{nickname}, #{profilePicture, jdbcType=VARCHAR},
		#{rating}, #{email}, #{name}, #{phone})
	</insert>

	<update id="updateMember" parameterType="Member">
		UPDATE Member SET
		PASSWORD = #{password},
		NICKNAME = #{nickname},
		PROFILEPICTURE =
		#{profilePicture, jdbcType=VARCHAR},
		EMAIL = #{email},
		PHONE = #{phone}
		WHERE ID = #{id}
	</update>

	<update id="deleteMember" parameterType="java.lang.String">
		UPDATE Member SET
		PASSWORD = '알수없음',
		NICKNAME = '알수없음',
		PROFILEPICTURE = '알수없음',
		RATING =
		0.0,
		EMAIL = '알수없음',
		NAME = '알수없음',
		PHONE = '알수없음'
		WHERE ID = #{id}
	</update>
</mapper>